.search{
  display: flex;
  width: 30%;
  height: 35px;
  background-color: var(--blanco);
  border: 1px solid var(--verde-claro);
  border-radius: var(--borde-redondeado-min);
  padding: 0 15px 0;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 0px 1px #00000047);
  align-items: center;
  gap: 10px;
  margin: 5px;
  position: absolute;
  top: 12px;
  right: 30px;
  z-index: 1;
  color: var(--verde-claro);
}

.search .icon{
  font-size: 1.2rem;
}

.search:focus-within{
  box-shadow: 0 0 2px 0 var(--verde-claro);
}
.search input{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--fuente-normal);
  font-weight: 500;
  width: 100%;
  height: 100%;
  color: var(--gris-letras-oscuras);
}