.button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  width: max-content;
  font-weight: 600;
  color: var(--blanco);
  border: none;
  outline: none;
  border-radius: var(--borde-redondeado-min);
  background-color: var(--verde-oscuro);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  gap: 10px;
  white-space: nowrap;
  font-size: var(--fuente-normal);
  padding: 8px 12px;
  height: min-content;
}

.button .icon{
  font-weight: lighter;  
}

.button:hover{
  box-shadow: 0 2px 4px 0 #00000047;
  filter: brightness(90%);
}

.button--white{
  background-color: var(--blanco);
  color: var(--gris-letras);
  box-shadow: 0 0px 1px 0 #00000025, 0 2px 2px 0 #00000025;
}

.button--red{
  background-color: #D32F2F;
}

.link{
  font-weight: 500;
  font-size: var(--fuente-normal);
  color: var(--verde-oscuro);
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}

.link:hover{
  font-weight: 600;
}