.header {
  display: flex;
  align-items: center;
  padding: 0 25px;
  padding-right: 80px;
  width: 100%;
  position: relative;
}

.header__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gris-letras);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  overflow-x: scroll;
}

.header__inventario {
  display: inline-block;
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.header__seccion {
  color: var(--gris-letras-oscuras);
}