.table {
  min-width: 600px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(0, 0%, 98%) 60%, hsl(0, 0%, 96%));
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1px 4px #00000047;  
}

.table__head{
  background-color: var(--verde-oscuro);  
}

.table__body {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.table__body::-webkit-scrollbar-thumb{
  background-color: var(--gris-oscuro);
}

.table__row-head,
.table__row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table__row{
  position: relative;
  height: 50px;  
  transition: all 0.3s ease-in-out;
}

.table__row:nth-last-child(odd) {
  background-color: var(--gris-claro);
}

.table__row::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 1px;
  background-color: var(--gris-oscuro);
}

.table__row:hover{  
  background-color: hsla(100, 50%, 85%, 0.8);
  cursor: pointer;
}

.table__head-cell,
.table__cell {
  padding: 10px;
  text-align: center;  
  width: 100%;
  word-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__head-cell{
  color: var(--blanco);
  padding:  12px 15px 10px;
}

.table__row.table__row--red {
  background-color: rgba(229, 115, 115, 0.2);
}

.table__row--red .table__cell{
  color: #D32F2F;
}

.table__row--red:hover {
  background-color: rgba(229, 115, 115, 0.35);
}

.table-first-small .table__cell:first-child,
.table-first-small .table__head-cell:first-child {
  width: 50px;
}
#dashboard-tipos-elementos .table__cell:nth-last-child(2),
#dashboard-tipos-elementos .table__head-cell:nth-last-child(2) {
  width: 120%;
}
