.text-details{
  font-size: var(--fuente-pequena);
  font-weight: 550;
  color: var(--gris-letras);
}

.text-details--bold{
  font-weight: 700;
  color: var(--gris-letras-oscuras);
}

.text-details--medium-sized{
  font-size: var(--fuente-normal);
}

.text-details--paragraph{
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: break-all;
}

.text-details--paragraph::-webkit-scrollbar-thumb{
  background-color: var(--gris-oscuro);
}

.text-floating {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--gris-oscuro);
  font-weight: 600;
  white-space: nowrap;
}