<main class="home home--signup">
    <section class="home__form">

        <form action="" class="form form--signup" novalidate autocomplete="off">
            <div class="form__header">
                <h2 class="form__title">Registrarse</h2>
            </div>

            <div class="form__body">

                <div class="form__control">
                    <input type="text" class="input" placeholder="Nombres" name="nombres" required>
                </div>

                <div class="form__control">
                    <input type="text" class="input" placeholder="Apellidos" name="apellidos" required>
                </div>

                <div class="form__control">
                    <select name="tipo_documento_id" class="input input--select" id="tipos-documentos" required>
                        <option value="" disabled selected>Tipo de Documento</option>
                        <!-- <option value="1">Cédula de Ciudadania</option>
                        <option value="2">Tarjeta de Identidad</option>
                        <option value="3">Cédula de Extranjería</option> -->
                    </select>
                </div>

                <div class="form__control">
                    <input type="text" class="input" placeholder="Número de Documento" name="documento" required>
                </div>

                <div class="form__control">
                    <select name="programas" id="programas-formacion" class="input input--select" required>
                        <option value="" disabled selected>Programa de Formación</option>
                        <!-- <option value="1">(N/A) - No Aplica</option>
                        <option value="2">(ADSO) - Análisis y Desarrollo de Software</option> -->
                    </select>
                </div>

                <div class="form__control">
                    <select name="ficha_id" id="fichas" class="input input--select" required disabled>
                        <option value="" disabled selected>Ficha</option>
                        <!-- <option value="1">(N/A) - No Aplica</option>
                        <option value="2">2894667</option> -->
                    </select>
                </div>

                <div class="form__control">
                    <input type="text" class="input" placeholder="Correo Electrónico" name="correo" required>
                </div>

                <div class="form__control">
                    <input type="text" class="input" placeholder="Número de Télefono" name="telefono" required>
                </div>

                <div class="form__control">
                    <select name="genero_id" class="input input--select" id="generos" required>
                        <option value="" disabled selected>Género</option>
                    </select>
                </div>

                <div class="form__control">
                    <input type="password" class="input contrasena" placeholder="Contraseña" name="contrasena" required data-tipo="nueva">
                    <i class="icon ri-eye-line"></i>
                </div>

            </div>
            <div class="form__action">
                <button class="button">Registrarse</button>
                <p class="text-details text-details--medium-sized">¿Ya tienes cuenta? <a href="#/inicio" class="link">Inicia sesión</a></p>
            </div>
        </form>

    </section>

    <section class="home__intro">
        <div class="home__logos">
            <img src="/img/SENA.png" alt="SENA">
            <hr class="separacion">
            <img src="/img/Logo.png" alt="logo">
        </div>

        <div class="home__title">
            <img src="/img/Titulo.png" alt="Stock Control">
            <p class="home__description">Sistema de <br> Administración y <br> Gestión de Inventario</p>
        </div>

    </section>
</main>