<div class="search">
    <i class="icon ri-search-line"></i>
    <input type="search" placeholder="Buscar ambientes">
</div>

<div class="dashboard__header">
    <h2 class="dashboard__title">Distribución por ambientes</h2>
    <p class="text-details text-details--medium-sized dashboard__details">En este apartado puede ver en qué ambientes
        físicos se encuentran ubicados los elementos del inventario.</p>
</div>

<div class="dashboard__content content-cards">

    <div class="card card--large">
        <div class="card__header">
            <div class="card__img">
                <img src="" alt="map-img">
            </div>
            <h3 class="card__title">Nombre del ambiente</h3>
        </div>
        <div class="card__content">
            <div class="card__details">
                <p class="text-details">Cantidad de bienes:</p>
                <p class="text-details text-details--bold">1256</p>
            </div>
        </div>
        <div class="card__actions">
            <button class="button" href="">Ver mapa</button>
        </div>
    </div>

    <div class="new-card new-card--large"></div>

</div>