<section class="dashboard__layout dashboard--mapa" id="dashboard-mapa">
    <div class="dashboard__header">
        <h2 class="dashboard__title"></h2>
        <div class="dashboard__actions">

            <a id="btn-volver" class="button button--white">
                <i class="ri-arrow-left-fill"></i>
                Volver
            </a>
        </div>
    </div>
    <div class="dashboard__content">
        <div class="mapa-container" id="mapa-container"></div>
    </div>
    <div class="tooltip" id="tooltip"></div>
</section>