<main class="home">

    <section class="home__intro">
        <div class="home__title">
            <img src="/img/Titulo.png" alt="Stock Control">
            <p class="home__description">Sistema de <br> Administración y <br> Gestión de Inventario</p>
        </div>
    </section>

    <section class="home__form">
        <div class="home__logos">
            <img src="/img/SENA.png" alt="SENA">
            <hr class="separacion">
            <img src="/img/Logo.png" alt="logo">
        </div>

        <form action="" class="form form--signin" novalidate autocomplete="off">
            <div class="form__header">
                <h2 class="form__title">Ingresar</h2>
            </div>

            <div class="form__body">

                <div class="form__control">
                    <select name="rol" id="roles" class="input input--select" required>
                        <option value="">Seleccione su Rol</option>
                        <!-- <option value="1">Usuario Administrativo</option>
                        <option value="2">Usuario Corriente</option> -->
                    </select>
                </div>

                <div class="form__control">
                    <input type="text" class="input" placeholder="Número de Documento" name="documento" id="documento"
                        required>
                </div>

                <div class="form__control">
                    <input type="password" class="input contrasena" placeholder="Contraseña" name="contrasena" required>
                    <i class="icon ri-eye-line"></i>
                </div>

            </div>
            <div class="form__action">
                <button class="button">Iniciar Sesión</button>
                <p class="text-details text-details--medium-sized">¿No tienes una cuenta? <a href="#/registro" class="link">Regístrate aquí</a></p>
            </div>
        </form>
    </section>

</main>