<div class="dashboard__header">
    <h2 class="dashboard__title">Inventarios asociados</h2>
    <p class="text-details text-details--medium-sized dashboard__details">En esta sección puede observar los inventarios
        a los que tiene acceso.</p>
</div>

<div class="dashboard__content content-cards">
    <div class="card">
        <div class="card__header">
            <h3 class="card__title">Nombre del inventario</h3>
        </div>
        <div class="card__content">
            <div class="card__details">
                <p class="text-details">Cantidad de bienes:</p>
                <p class="text-details text-details--bold">1256</p>
            </div>
            <div class="card__details">
                <p class="text-details">Valor monetario:</p>
                <p class="text-details text-details--bold">$ 91,080,750.00</p>
            </div>
            <div class="card__details">
                <p class="text-details">Ambientes cubiertos:</p>
                <p class="text-details text-details--bold">2</p>
            </div>
            <div class="card__details">
                <p class="text-details">Última actualización:</p>
                <p class="text-details text-details--bold">01/04/2025</p>
            </div>
        </div>
        <div class="card__actions">
            <button class="button ver-inventario">Ver inventario</button>
        </div>
    </div>
    <div class="new-card agregar-inventario"></div>
</div>